.home-container {
  overflow: hidden;
  height: calc(100vh - 115px);
}
.home-col-left {
  float: left;
  width: 100%;
  height: calc(100vh - 115px);
  overflow-y: hidden;
  overflow-x: hidden;
}

.home-col-right {
  float: left;
  width: 100%;
  height: 100%;
}

.input-search {
  background-color: darkred;
  color: #ffffff;
}

.switch-map {
  display: none;
}

.modal-header {
  display: block;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #c8ced3;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.carousel-item {
  height: 200px;
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
/* .hoverMouse:hover {
      cursor: pointer;
  } */
.rowHome {
  border-bottom: solid 1px #ccc;
  margin-bottom: 5px;
}
.rowHome:hover {
  background: #f3f3f3;
}

.house:hover {
  background: #e1e1e1;
}
.house {
  cursor: pointer;
  border: 1px solid #dfdfdf;
  padding-top: 10px;
  padding-bottom: 10px;
}
.house.active {
  background: #20a8d8;
  color: white;
  cursor: auto;
}
@media screen and (max-width: 1230px) {
  .home-col-left {
    width: 100%;
  }
  .home-col-right {
    display: none;
  }
  .switch-map {
    display: block;
  }
}

.card-img {
  height: 100px;
}

#react-paginate {
  padding-top: 20px;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

[role="button"] {
  cursor: pointer;
}
