
.m-l-5{
    margin-left: 5px;
}
.m-r-5{
    margin-right: 5px;
}
.flex-jc-center{
    display: flex;
    justify-content: center;
}
.flex-jc-center > div{
    margin: 0px 10px;
}
.container-fluid{
    height: 100%;
}
.price-ads{
    display: flex;
}
.price-ads-item{
    background: #1e91ff;
    width: 50%;
    color: white;
    padding: 1.25rem;
}
.price-ads-item a{
    color: white;
}
.media-body{
    margin-left: 20px;
}
.price-toolbar{
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    padding: 0px 1.25rem;
}
.price-container{
    height: calc(100vh - 115px);
    overflow: hidden;
}
.price-table-container{
    padding: 0px 1.25rem;
}
.price-nav{
    justify-content: center;
}
.price-tabs{
    border: none;
}
.nav-tabs .price-nav-link{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #e3e3e3;
}
.nav-tabs .price-nav-link.active{
    border-bottom: 2px solid blue;
}
.price-col-left{
    float: left;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.price-col-right{
    float: left;
    width: 50%;
    height: 100%;
    /* background: yellow; */
}
.switch-map{
    display: none;
}
/* FOOTER */
.footer {
    background-color: #1b365d;
}
.toggleview .footer__content {
    padding: 1.6rem 1.333333333rem 0;
}
.footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 85.333333333rem;
    padding: 1.6rem 1.066666667rem 0;
}
.footer__menu {
    flex: 1 1 32%;
    margin: 0 .533333333rem 1.066666667rem;
}
.footer__menu-header {
    color: #fff;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.066666667rem;
}
.footer__menu-item {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .533333333rem;
    cursor: pointer;
    text-decoration: none;
}
.footer__menu-item, .footer__menu-item:visited {
    color: hsla(0,0%,100%,.8);
}
.footer__menu-item:hover{
    color: white;
}
.footer__social {
    margin: 2.666666667rem 0;
    text-align: center;
    width: 100%;
}
.footer__lastline {
    color: hsla(0,0%,100%,.5);
    margin-bottom: .533333333rem;
    text-align: center;
    width: 100%;
}
.footer__happyAtWork-link img {
    max-width: 10rem;
}
.footer__happyAtWork-link {
    display: inline-block;
    margin-bottom: 1.333333333rem;
}
/* END: FOOTER */
#scroll-to-top{
    height: 0px;
    overflow: hidden;
}
@media screen and (max-width: 1230px){
.price-col-left{
    width: 100%;
}
.price-col-right{
    display: none;
}
.switch-map{
    display: block;
}
}