.mapboxgl-popup-content {
  width: 315px;
  max-height: 128px;
}

.vector-map__top-toolbar {
  z-index: 1 !important;
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  left: 0.666666667rem;
  max-width: 31rem;
  position: absolute;
  right: 3.333333333rem;
  top: 0.666666667rem;
}

.vector-map__toolbar-item:last-child {
  border: 0;
}
.vector-map__toolbar-item {
  flex-grow: 1;
  padding: 0.3rem;
  text-align: center;
}

.colorscale {
  align-content: stretch;
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
}
.colorscale li {
  flex: 1 1 auto;
  height: 9px;
}
.vector-map__tiles-btn {
  align-items: center;
  display: flex;
  font-size: 0.933333333rem;
  height: 2.6rem;
  justify-content: space-between;
  padding: 0 0.666666667rem;
  text-align: left;
  width: 100%;
}
.vector-map__toolbar-item--legend {
  width: 70%;
  float: left;
}
.vector-map__toolbar-item--tiles {
  width: 30%;
  padding: 0px;
  float: left;
}

.hoverInfo {
  position: absolute;
  top: 32px;
  left: 10px;
  width: 160px;
  background: #13a701e0;
  color: white;
  clear: both;
  z-index: 1;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.css-3epm7k {
  width: 100%;
  height: 12px;
  border-radius: 4px;
  position: relative;
}

.css-1n5rwcf {
  position: absolute;
  height: 12px;
  width: calc(25% - 3px);
  border-radius: 8px 4px 4px 8px;
  left: 0;
  background: #f3f3f3;
}

.css-151ox5u {
  position: absolute;
  width: calc(25% - 3px);
  border-radius: 4px 8px 8px 4px;
  right: 0;
  height: 12px;
  background: linear-gradient(to right, #f1e2e4, #e36978);
}

.css-1b6sh8v {
  background: linear-gradient(
    to right,
    #e3daff 0 10%,
    hsla(254, 100%, 66.5%, 0.6) 50%,
    #e3daff 90% 100%
  );
  background: #cec2f6;
  position: absolute;
  height: 18px;
  left: 25%;
  width: 50%;
  border-radius: 4px;
  height: 12px;
}
.css-2hpe9w {
  position: absolute;
  content: "";
  border-left: dotted 2px #7c54ff;
  left: 50%;
  top: -3px;
  height: 17px;
}
.css-qzfvxb {
  position: absolute;
  left: 83.33333333333333%;
  top: 50%;
  padding: 5px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.css-1hp2rub {
  width: 12px;
  height: 12px;
  border: solid 3px #7c54ff;
  background-color: #fff;
  border-radius: 50%;
}

.css-1trmj4g {
  position: absolute;
  top: -40px;
  transform: translateX(calc(-100% + 6px));
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
  border-radius: 4px;
  padding: 4px 9px;
  background: rgb(124, 84, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(124, 84, 255);
  border-image: initial;
}
.css-15s1vqh {
  white-space: nowrap;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  color: inherit;
  font-family: NovemberHebrew;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  min-height: 20px;
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 850px !important;
  }
}
